global:
  # ResolveTimeout is the time after which an alert is declared resolved
  # if it has not been updated.
  resolve_timeout: {{ alertmanager_resolve_timeout }}

{% if alertmanager_smtp_from != '' %}
  # The default SMTP From header field.
  smtp_from: {{ alertmanager_smtp_from }}

{% endif %}
{% if alertmanager_smtp_smarthost != '' %}
  # The default SMTP smarthost used for sending emails.
  smtp_smarthost: {{ alertmanager_smtp_smarthost }}

{% endif %}
{% if alertmanager_smtp_hello != '' %}
  # The default hostname to identify to the SMTP server.
  smtp_hello: {{ alertmanager_smtp_hello }}

{% endif %}
{% if alertmanager_smtp_auth_username != '' %}
  # SMTP authentication information.
  smtp_auth_username: {{ alertmanager_smtp_auth_username }}
  smtp_auth_password: {{ alertmanager_smtp_auth_password }}
{% endif %}
{% if alertmanager_smtp_auth_secret != '' %}
  smtp_auth_secret: {{ alertmanager_smtp_auth_secret }}

{% endif %}
{% if alertmanager_smtp_require_tls != '' %}
  # The default SMTP TLS requirement.
  smtp_require_tls: {{ alertmanager_smtp_require_tls }}

{% endif %}
{% if alertmanager_slack_api_url != '' %}
  # The API URL to use for Slack notifications.
  slack_api_url: {{ alertmanager_slack_api_url }}

{% endif %}
{% if alertmanager_victorops_api_key != '' %}
  victorops_api_key: {{ alertmanager_victorops_api_key }}

{% endif %}
{% if alertmanager_victorops_api_url != '' %}
  victorops_api_url: {{ alertmanager_victorops_api_url }}

{% endif %}

{% if alertmanager_pagerduty_url != '' %}
  pagerduty_url: {{ alertmanager_pagerduty_url }}

{% endif %}
{% if alertmanager_opsgenie_api_key != '' %}
  opsgenie_api_key: {{ alertmanager_opsgenie_api_key }}

{% endif %}
{% if alertmanager_opsgenie_api_url != '' %}
  opsgenie_api_url: {{ alertmanager_opsgenie_api_url }}

{% endif %}
{% if alertmanager_hipchat_api_url != '' %}
  hipchat_api_url: {{ alertmanager_hipchat_api_url }}

{% endif %}
{% if alertmanager_hipchat_auth_token != '' %}
  hipchat_auth_token: {{ alertmanager_hipchat_auth_token }}

{% endif %}
{% if alertmanager_wechat_api_url != '' %}
  wechat_api_url: {{ alertmanager_wechat_api_url }}

{% endif %}
{% if alertmanager_wechat_api_secret != '' %}
  wechat_api_secret: {{ alertmanager_wechat_api_secret }}

{% endif %}
{% if alertmanager_wechat_api_corp_id != '' %}
  wechat_api_corp_id: {{ alertmanager_wechat_api_corp_id }}

{% endif %}
templates:
  - '{{ alertmanager_notifications_templates_path }}/*.tmpl'
