[Unit]
Description=Prometheus alertmanger service
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/bin/sh -c "alertmanager {% for option in alertmanager_service_options %}-{{ option }} {% endfor %}> {{ alertmanager_log_dir }}/{{ alertmanager_log_file }} 2>&1"
User={{ alertmanager_user }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
